
@{
    ViewData["Title"] = "Contact";
}
<!DOCTYPE html>
<html>


<head>

    <meta name="viewport" content="width=device-width" />
    <title>V5L1</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="panel-body">
    <h3 class="text-center">Contacts</h3>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td colspan="2" class="contacts" title="">
                    NIZHNY NOVGOROD STATE TECHNICAL UNIVERSITY n.a. R.E. Alekseev
                </td>
            </tr>
            <tr>
                <td>Adress:</td>
                <td>Nizhny Novgorod, Minin Street, 24</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>+7 (831) 436 63 07</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>nntu@nntu.ru</td>
            </tr>
            <tr>
                <td colspan="2" class="contacts" title="">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>
                                <a href="https://vk.com/nntualekseeva">
                                    <img src="~/img/social-1.png" width=50 height=50>
                                    vkontakte
                                </a>
                            </td>
                            <td>
                                <a href="https://www.instagram.com/nntu.alekseeva/">
                                    <img src="~/img/social-2.png" width=50 height=50>
                                    instagram
                                </a>
                            </td>
                            <td>
                                <a href="https://www.facebook.com/NNSTU/">
                                    <img src="~/img/social-3.png" width=50 height=50>
                                    facebook
                                </a>
                            </td>
                            <td>
                                <a href="https://www.youtube.com/channel/UCVy8eOtAs3AXe_6SDiWWUCw/featured">
                                    <img src="~/img/social-4.png" width=50 height=50>
                                    youtube
                                </a>
                            </td>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

